.board-app-main {
    height: 100vh;
    overflow-y: scroll;
}

.board-list-main {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 150px;
    max-width: 800px;
}

.contact {
    display: flex;
    margin: 40px 0 0 170px;
    padding-bottom: 50px;
}

.folders {
    li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        align-items: center;
        border: none;
        border-radius: 4px;
        padding-left: 8px;
        margin: 0 0 4px 0;
        height: rem(32px);
        width: rem(242px);

        p {
            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
            font-size: rem(14px);
            font-weight: bold;
        }
    }
}

.folder {
    p {
        color: #172b4d;
    }

    &:hover {
        background-color: rgba(9, 30, 66, 0.08);
    }
}

.selected-folder {
    background-color: #e4f0f6;

    p {
        color: #0079bf;
    }

    span {
        color: #0079bf;
    }

    &:hover {
        background-color: none;
    }
}

.folder-info {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin-left: rem(32px);

    .boards-info {
        overflow-y: auto;

        .border-list {
            padding: 0 0 40px;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 0 10px;

            p {
                font-size: 16px;
                font-weight: 700;
                color: #172b4d;
            }

            span {
                margin-bottom: 4px;
            }
        }

        .create-btn-boards {
            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
            color: #172b4d;
            text-align: center;
            font-weight: 400;
            border-radius: 3px;
            height: rem(96px);
            width: rem(192px);
            background-color: #e7e9ec;
            border: none;
            margin: 10px 0 16px 0;
            padding-bottom: 6px;
            cursor: pointer;

            &:hover {
                background-color: #091e4224;
            }
        }
    }

    .header-templates {
        color: #172b4d;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 6px;

        .category-title {
            font-weight: 600;
            line-height: 24px;
            font-size: 20px;
            margin-bottom: 0;
        }

        .category-icon {
            display: inline-block;
            height: 24px;
            width: 24px;
            min-width: 24px;
            margin-right: 12px;
            border-radius: 3px;
        }
    }
}

.home-info {
    display: flex;
    margin-left: 50px;
    overflow-y: auto;

    .activities {
        overflow-y: auto;
        max-height: calc(100vh - 100px);
        width: 55vh;

        .side-bar-menu-activity-container {
            .activity-header {
                display: flex;
                gap: 8px;
                align-items: center;
                padding-bottom: 8px;

                h1 {
                    font-size: 14px;
                    color: #5e6c84;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .icon-activity-home {
                    @include to-icon("\e900");
                    color: #5e6c84;
                    font-size: 14px;
                }
            }

            .activities-render {
                align-items: center;
                gap: 8px;
                margin-top: 8px;
                margin-bottom: 20px;

                .member-avatar-in-activity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    cursor: default;
                    background-color: #172b4d;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 14px;
                    border-radius: 50%;
                    padding-bottom: 1px;
                    margin-bottom: 1px;
                }

                .activity-info {
                    display: flex;
                    flex-direction: column;

                    .activities-info-txt {
                        display: flex;
                        align-items: center;
                        inline-size: auto;
                        gap: 5px;
                        overflow-wrap: break-word;

                        span {
                            font-weight: 700;
                            font-size: 14px;
                            color: #172b4d;
                        }

                        p {
                            overflow-wrap: break-word;
                            inline-size: 240px;
                            color: #172b4d;
                            font-size: 14px;
                        }
                    }

                    .activity-timestamp {
                        color: #172b4d;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .boards {
        overflow-y: auto;
        max-height: calc(100vh - 100px);
        width: 50vh;
        margin-bottom: 80px;

        .starred-boards {
            .starred-boards-header {
                margin: 0 0 8px 8px;
                display: flex;
                gap: 6px;

                .icon-star-home {
                    @include to-icon("\e966");
                    color: #5e6c84;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                }

                .icon-clock-home {
                    @include to-icon("\e91b");
                    color: #5e6c84;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                }

                p {
                    color: #5e6c84;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }

            .modal-starred-board-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;

                .boards-render-modal-starred {
                    display: flex;
                    flex-direction: row;
                    width: rem(336px);
                    padding: 8px;
                    align-items: center;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(235, 236, 240);
                        transition: 0.2s;
                    }

                    .board-background-starred-modal {
                        margin-right: 13px;
                        background-size: cover;
                        border-radius: 3px;
                        height: 32px;
                        width: 40px;
                        position: relative;
                        opacity: 1;
                    }

                    .modal-starred-board {
                        font-weight: 600;
                        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .icon-star-home-board {
                        margin-left: auto;
                        margin-right: 8px;
                        @include to-icon("\e967");
                        color: $mainYellow;

                        &:hover {
                            @include to-icon("\e966");
                            color: $mainYellow;
                        }
                    }
                }
            }
        }
    }
}

.create-board-modal {
    position: fixed;
    width: rem(304px);
    left: rem(650px);
    color: #172b4d;
    z-index: 12;
    font-size: rem(14px);
    background-color: #ffffff;
    border-radius: rem(3px);
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;

    .create-board-title-add-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #0079bf;
            box-shadow: none;
            border: none;
            color: #ffffff;
            height: 30px;
            width: rem(279px);
            text-align: center;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                background-color: #026aa7;
                border: none;
                box-shadow: none;
                color: #fff;
            }
        }

        input {
            padding-top: 0;
            margin-top: 0;
            border-radius: 3px;
            width: rem(279px);
            height: rem(35px);
            font-size: 15px;
            border: 2px solid #d8d7d4;

            &:focus {
                outline-color: #0079bf;
            }
        }
    }

    .background-label {
        margin-top: 26px;
    }

    label {
        color: #5e6c84;
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 4px;
        margin-top: 12px;
        text-align: left;
        font-family: roboto-regular;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .create-board-background-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 9px;

        .create-board-img-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(200px);
            height: rem(120px);
            border-radius: 3px;
            box-shadow: 0 7px 15px rgb(0 0 0 / 15%);
            background-color: #0079bf;

            img {
                width: rem(180px);
                height: rem(100px);
            }
        }
    }

    .create-board-modal-header {
        margin-bottom: 8px;
        padding: 0 12px;
        position: relative;
        text-align: center;
        display: grid;
        grid-template-columns: 12px 1fr 12px;

        h1 {
            font-weight: unset;
            font-size: 15px;
        }

        .header-text-create-boards-modal {
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
                "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            color: #5e6c84;
            height: 40px;
            display: block;
            line-height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            grid-column: 1 / span 3;
            grid-row: 1;
        }

        .header-close-create-boards-modal {
            grid-column: 3;
            grid-row: 1;
            border: none;
            color: #6b778c;
            cursor: pointer;
            margin: 0;
            padding: 0;
            z-index: 2;
            outline: none;
            margin: auto;

            svg {
                height: auto;
                width: 12px;
                color: currentcolor;
                display: inline-block;
            }
        }
    }

    .create-background-photo {
        display: flex;
        align-items: center;
        gap: rem(5px);
        margin-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;

        .photos {
            display: flex;

            .photo-pref {
                background-color: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), ;
                background-color: #172b4d;
                width: rem(63px);
                height: rem(40px);
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }




    .create-board-background-color {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(8px);
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: rem(20px);
        padding-left: rem(8px);
        padding-right: rem(8px);

        .blue {
            background-color: rgb(0, 121, 191);
        }

        .yellow {
            background-color: rgb(210, 144, 52);
        }

        .green {
            background-color: rgb(81, 152, 57);
        }

        .red {
            background-color: rgb(176, 70, 50);
        }

        .purple {
            background-color: rgb(137, 96, 158);
        }

        .more {
            background-color: rgb(245, 246, 248);
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgba(9, 30, 66, 0.08);
                box-shadow: none;
                border: none;
            }
        }
    }
}



.unsplash-boards-modal {
    position: fixed;
    z-index: 20;
    width: rem(310px);
    color: #172b4d;
    background-color: #ffffff;
    border-radius: rem(3px);
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    box-sizing: border-box;
    // margin-bottom: 12px;
    outline: 0;
    padding-inline: 12px;
    overflow: hidden;
    cursor: default;
    margin-right: 0;
    max-height: 100vh;
    padding-bottom: 9px;
    // position: fixed;
    // bottom: 0;
    // top:0 ;
    // overflow-y: auto;

    hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 0;
        padding: 0;
        width: 322px;
    }

    .side-bar-menu-background-container-img {
        // margin-top: 12px;
        max-height: calc(100vh - 150px);
        
        // overflow-y: auto;
        // margin-top: 5px;
        // display: grid;
        // grid-template-columns: 157px 157px;
        // grid-auto-rows: 100px;
        // justify-content: center;
        // gap: 5px;
        // width: 100%;
        // height: 100%;
        margin-left: 8px;
        margin-top: 13px;
        display: grid;
        grid-template-columns: 132px 132px;
        // grid-auto-rows: 100px;
        justify-items: center;
        gap: 7px;
        width: 100%;
        // height: 100%;
        overflow-y: scroll;


        .unspash-img {
            // border-radius: 8px;
            // // height: 96px;
            // // width: 156px;
            // cursor: pointer;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }

    .side-bar-menu-header-background-img {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
            cursor: pointer;
        }

        .header-close-img-boards-modal {
            span {
                cursor: pointer;
            }
        }

        .side-bar-menu-header-text-background-img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            transition: margin .12s ease-in;
            white-space: nowrap;

            h3 {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 16px;
                font-weight: 500;
                margin: 14px 32px;
                color: #172B4D;
                margin-right: 10px;

            }

            a {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.search-unsplash {
    background: #fafbfc;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    overflow-y: auto;
    cursor: pointer;

    &:focus-within {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }

    input {
        border: none;
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        background: #fafbfc;
        font-size: 14px;
        font-weight: 400;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}





.color-pref {
    width: rem(40px);
    height: rem(32px);
    border-radius: 3px;
    cursor: pointer;
}



/////////////main
::-webkit-scrollbar {
    overflow-x: auto;
    overflow-y: hidden;
}

.checked {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    line-height: 32px;
    text-decoration: none;
    font-family: icomoon;
    font-size: rem(16px);
    @include to-icon("\e916");
}

// icons
.icon-board {
    @include to-icon("\e90b");
    color: #172b4d;
}

.icon-template {
    @include to-icon("\e96d");
    color: #172b4d;
}

.icon-home {
    @include to-icon("\e938");
    color: #172b4d;
}

.icon-star-boards {
    @include to-icon("\e966");
    color: #42526e;
}

.icon-clock-boards {
    @include to-icon("\e91b");
    color: #42526e;
}