.label-modal {
    border-radius: 3px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    width: 304px;
    height: fit-content;
    padding: 0;
    padding: 0 12px 12px 12px;
    background-color: white;
    border: 0;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    z-index: 50;
    .icon-sm {
        cursor: pointer;
        &:hover {
            color: #091e42;
        }
    }
    .main-title-container {
        border-bottom: 1px solid #091e4221;
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    }
    .main-title {
        box-sizing: border-box;
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        color: #5e6c84;
        display: block;
        line-height: 40px;
        font-size: 14px;
        font-weight: 400;
        margin: 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }
    .attachment-container {
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 0px;
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr;
        .attachment {
            margin: 0;
            border-radius: 3px;
            background-position: center;
            box-shadow: none;
            height: 48px;
            width: 85px;
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:hover {
                filter: saturate(85%) brightness(85%);
            }
        }
        .selected {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
            filter: none;
            &:hover {
                box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ba4cf;
                filter: none;
            }
        }
    }
}

.main-input {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 2px;
    width: 98%;
    color: #172b4d;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    outline: none;
    padding: 8px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    &:hover {
        background-color: #ebecf0;
        box-shadow: inset 0 0 0 2px #dfe1e6;
    }
    &:focus {
        box-shadow: 0 0 0 2px #0079bf;
    }
}

.edit-input {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
    margin-left: 2px;
    width: 98%;
    color: #172b4d;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    outline: none;
    padding: 8px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    &:hover {
        background-color: #ebecf0;
        box-shadow: inset 0 0 0 2px #dfe1e6;
    }
    &:focus {
        box-shadow: 0 0 0 2px #0079bf;
    }
}

.icon-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    height: 40px;
    width: 40px;
    padding: 10px 12px 10px 8px;
    @include to-icon("\e90a");
}

.icon-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    height: 40px;
    width: 40px;
    padding: 10px 12px 10px 8px;
    @include to-icon("\e91c");
}

.actions-modal-main {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.cover-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    .loading-svg {
        height: 30px;
        width: 30px;
    }
}

.delete-modal-main {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8px;
    height: 92px;
    .delete-btn {
        margin-top: 40px;
        display: unset;
        width: 280px;
    }
}

.main-title-container {
    text-align: center;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.edit-container {
    flex-direction: column;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.label-container {
    margin-bottom: 2px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    .icon-edited {
        @include to-icon("\e928");
        color: rgb(66, 82, 110);
        position: absolute;
        right: 12px;
        outline: 0;
        line-height: 20px;
        margin-top: 3px;
        margin-left: 4px;
        border-radius: 3px;
        height: rem(32px);
        width: rem(32px);
        border: none;
        background: none;
        &:hover {
            color: rgb(9, 30, 66);
            background-color: #091e4214;
        }
    }
}

.cover-mode-container {
    display: grid;
    gap: 8px;
    padding: 4px;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    .dark {
        margin: 0;
        background-repeat: no-repeat;
        box-shadow: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        width: unset;
        height: 32px;
        background-size: cover;
        background-position: center;
        padding: 6px 10px 6px 12px;
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        span {
            font-size: 14px;
            white-space: nowrap;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 0;
            color: #ffffff;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 110px;
        }
    }
    .light {
        margin: 0;
        background-repeat: no-repeat;
        box-shadow: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        width: unset;
        height: 32px;
        background-size: cover;
        background-position: center;
        padding: 6px 10px 6px 12px;
        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        span {
            font-size: 14px;
            white-space: nowrap;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 110px;
            color: #172b4d;
            z-index: 10;
        }
    }
    .selected {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
        filter: none;
    }
}

.cover-size-select {
    display: grid;
    width: 288px;
    height: 72px;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding: 4px;
    margin: 0 0px;
    overflow-x: hidden;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    .cover-size-small {
        height: 62px;
        background-repeat: no-repeat;
        background-position: center;
        background: #ffffff;
        border-radius: 3px;
        position: relative;
        width: 132px;
        border: 1px solid rgba(9, 30, 66, 0.08);
        display: block;
        .cover-header {
            height: 28px;
            display: block;
            background-color: #cfd3da;
            border-radius: 3px 3px 0 0;
            background-size: cover;
        }
        .cover-main {
            padding: 6px 4px 4px 6px;
            position: relative;
            display: block;
            .line-1 {
                background-color: #cfd3da;
                height: 4px;
                border-radius: 2px;
                width: 122px;
                display: block;
            }
            .line-2 {
                background-color: #cfd3da;
                height: 4px;
                border-radius: 2px;
                margin-top: 4px;
                width: 98px;
                display: block;
            }
            .cover-footer {
                display: flex;
                margin-top: 6px;
                .box-1 {
                    width: 16px;
                    height: 6px;
                    background-color: #cfd3da;
                    margin-right: 2px;
                    border-radius: 2px;
                    display: block;
                }
                .box-2 {
                    width: 16px;
                    height: 6px;
                    background-color: #cfd3da;
                    margin-right: 2px;
                    border-radius: 2px;
                    display: block;
                }
                .circle {
                    position: absolute;
                    background-color: #cfd3da;
                    width: 10px;
                    height: 10px;
                    right: 4px;
                    bottom: 4px;
                    border-radius: 5px;
                    display: block;
                }
            }
        }
    }
    .cover-size-all {
        background-color: #cfd3da;
        height: 62px;
        margin: 0;
        box-shadow: none;
        border-radius: 3px;
        position: relative;
        width: 130px;
        border: 1px solid rgba(9, 30, 66, 0.08);
        display: block;
        background-size: cover;
        background-position: center;
        .cover-main {
            position: absolute;
            bottom: 4px;
            padding: 6px 4px 4px 6px;
            display: block;
            .line {
                &-1 {
                    background: #ffffff;
                    opacity: 1;
                    width: 116px;
                    height: 4px;
                    border-radius: 2px;
                    display: block;
                }
                &-2 {
                    background: #ffffff;
                    opacity: 1;
                    width: 92px;
                    height: 4px;
                    margin-top: 4px;
                    border-radius: 2px;
                    display: block;
                }
            }
        }
    }
    .selected {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
        z-index: 100;
        filter: none;
        &:hover {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ba4cf;
            filter: none;
        }
    }
    .nonselected {
        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }
}

.label-color-picker {
    display: table;
    .checked {
        display: flex;
        align-content: center;
        justify-content: center;
        color: white;
        line-height: 32px;
        text-decoration: none;
        font-family: icomoon;
        font-size: rem(16px);
        @include to-icon("\e916");
    }
    .green {
        background-color: #61bd4f;
    }
    .yellow {
        background-color: #f2d600;
    }
    .orange {
        background-color: #ff9f1a;
    }
    .red {
        background-color: #eb5a46;
    }
    .purple {
        background-color: #c377e0;
    }
    .blue {
        background-color: #0079bf;
    }
    .light-blue {
        background-color: #00c2e0;
    }
    .light-green {
        background-color: #51e898;
    }
    .pink {
        background-color: #ff78cb;
    }
    .dark-blue {
        background-color: #344563;
    }
    .no-color {
        background-color: #b3bac5;
    }
    .color-pref {
        width: rem(48px);
        height: rem(32px);
        border-radius: 4px;
        float: left;
        margin: 0 8px 8px 0;
        padding: 0;
        cursor: pointer;
        &:hover {
            opacity: 80%;
        }
    }
}

.cover-colors {
    padding: 4px;
    display: grid;
    gap: 8px;
    margin: 0px;
    overflow-x: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .color-pref-cover {
        width: rem(48px);
        height: rem(32px);
        border-radius: 3px;
        z-index: 300;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        cursor: pointer;
        border: none;
        padding: 6px 12px;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        line-height: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }
    .green {
        background-color: #7bc86c;
    }
    .yellow {
        background-color: #f5dd29;
    }
    .orange {
        background-color: #ffaf3f;
    }
    .red {
        background-color: #ef7564;
    }
    .purple {
        background-color: #cd8de5;
    }
    .blue {
        background-color: #5ba4cf;
    }
    .light-blue {
        background-color: #29cce5;
    }
    .light-green {
        background-color: #6deca9;
    }
    .pink {
        background-color: #ff8ed4;
    }
    .dark-blue {
        background-color: #172b4d;
    }
    .selected {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
        z-index: 100;
        filter: none;
        &:hover {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ba4cf;
            z-index: 100;
            filter: none;
        }
    }
}

.date-picker {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    flex-wrap: wrap;
    .create-btn {
        background-color: #0079bf;
        margin-bottom: 0;
    }
    .delete-date {
        background-color: #edeef1;
    }
}

.members-container {
    margin-bottom: 2px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.profile-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.member-div {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    width: 284px;
    margin-right: 0;
    height: 40px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 100;
    margin-top: 3px;
    min-height: 20px;
    max-width: 100%;
    white-space: nowrap;
    color: #091e42;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background-color: #091e4214;
    }
    span {
        margin-left: 12px;
    }
    .icon-check {
        position: absolute;
        width: 20px;
        height: 20px;
        font-weight: 400;
        line-height: 20px;
        right: 18px;
        text-decoration: none;
    }
}

.label-color {
    width: 244px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    min-height: 20px;
    padding: 6px 12px;
    position: relative;
    transition: padding 85ms, margin 85ms, box-shadow 85ms;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-right: 36px;
    .icon-check {
        position: absolute;
        color: white;
        width: 20px;
        height: 20px;
        font-weight: 400;
        line-height: 20px;
        right: 6px;
        align-self: center;
        top: 6px;
        text-decoration: none;
    }
}

.label-color-hover {
    width: 244px;
    height: 32px;
    border-radius: 3px;
    margin-top: 3px;
    &:hover {
        padding-left: 8px;
        margin-right: 8px;
    }
}

.create-btn {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #172b4d;
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    margin-top: 16px;
    cursor: pointer;
    &:hover {
        background-color: #091e4214;
    }
}

.mini-title {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
    margin: 0 0 8px;
}

.mini-edit-title {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    color: #172b4d;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.no-color-title {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #172b4d;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 0 0 8px;
}

.no-color-text {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: #5e6c84;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 0 0 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.no-color-container {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 56px;
    padding-top: 80px;
}

.save-btn {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    width: 88px;
    height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    &:hover {
        background-color: #026aa7;
        border: none;
        box-shadow: none;
        color: #fff;
    }
}

.delete-btn {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    right: 12px;
    position: absolute;
    width: 64px;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #b04632;
    border: none;
    box-shadow: none;
    color: #fff;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    &:hover {
        background-color: #933b27;
        border: none;
        box-shadow: none;
        color: #fff;
    }
}