.app-header-main {
    height: rem(43px);
    background-color: $mainBlue;
    color: #ffff;
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;

    .logo {
        height: rem(32px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        img {
            height: rem(16px);
            width: rem(16px);
        }
    }

    .link {
        display: flex;
        gap: rem(8px);
        align-items: center;
        justify-content: center;

        height: rem(32px);
        @include headerBtn();
    }

    a {
        display: flex;
        gap: rem(8px);
        align-items: center;
        justify-content: center;

        height: rem(32px);
        @include headerBtn();
    }

    .icon-btn {
        margin-left: rem(4px);
        @include headerBtnIcon();
    }
}

.search-nav {
    margin-left: auto;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    .span-icon {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: 0;
        text-decoration: none;
        box-shadow: none;
        display: flex;
        font-weight: bold;
        height: 32px;
        padding: 0;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    .user-icon {
        img {
            width: 32px;
            height: 32px;
            cursor: pointer;
            margin-left: 4px;
        }
    }
}

.search-main {
    .search-box {
        overflow: hidden;
        position: relative;
        svg {
            position: absolute;
            right: 223px;
            top: 0px;
        }
    }
    input {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        font-size: rem(14px);
        height: rem(32px);
        padding-left: rem(30px);
        padding-right: rem(8px);
        width: rem(250px);
        &::placeholder {
            color: #fff;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
        &:focus {
            outline: none !important;
            background-color: #fff;

            &::placeholder {
                color: #5e6c84;
            }
        }
    }
    input:focus {
        outline-offset: 0;

    }
}

.starred-boards-modal {
    position: fixed;
    z-index: 20;
    width: rem(305px);
    color: #172b4d;
    background-color: #ffffff;
    border-radius: rem(3px);
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    cursor: default;

    .starred-boards-header {
        display: flex;
        justify-content: space-between;
    }

    button {
        cursor: pointer;
    }
}
