.app-header-main {
    height: rem(43px);
    background-color: $mainBlue;
    // background-color: rgba(0,0,0,.32);
    color: #ffff;
    display: flex;
    align-items: center;

    .logo {
        margin-left: rem(30px);
        height: rem(32px);
        // width: rem(32px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        img {
            height: rem(16px);
            width: rem(16px); 
        }
    }

    .link {
        display: flex;
        gap: rem(8px);
        align-items: center;
        justify-content: center;

        margin-left: rem(10px);
        height: rem(32px);
        @include headerBtn();
    }

    a {
        display: flex;
        gap: rem(8px);
        align-items: center;
        justify-content: center;

        margin-left: rem(10px);
        height: rem(32px);
        @include headerBtn();
    }

    .icon-btn {
        margin-left: rem(20px);
        @include headerBtnIcon();
    }
}

.search-main {
    input {
        margin-left: rem(50px);
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        font-size: rem(14px);
        height: rem(32px);
        line-height: rem(19px);
        padding-left: rem(30px);
        padding-right: rem(8px);
        width: rem(250px);

        // box-shadow: none;
        // box-sizing: border-box;
        // float: left;
        // margin-left: 4px;
        // margin-right: 4px;
        // outline: none;
        &::placeholder {
            color: #fff;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
        &:focus {
            outline: none !important;
        }
    }
    input:focus {
        outline-offset: 0;
    }
}

.starred-boards-modal {
    position: fixed;
    width: rem(305px);
    color: #172b4d;
    line-height: rem(20px);
    background-color: #ffffff;
    border-radius: rem(3px);
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    cursor: default;

    .starred-boards-header {
        display: flex;
        justify-content: space-between;
    }

    button {
        cursor: pointer;
    }
}
