.board-preview-main {
    h1 {
        background-color: rgb(106, 38, 161);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffff;
        border-radius: 3px;
        height: rem(97px);
        width: rem(195px);
        cursor: pointer;
    }
}