.board-header-main {
    background-color: #055d9188;
    height: rem(52px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
        margin-left: rem(32px);
        margin-right: rem(32px);
        gap: 5px;
    }

    button {
        @include btn();

        p {
            margin-left: 5px;
        }
    }

    .board-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin: 0;
        // padding: 0;
        span {
        }
    }

    .invite {
        @include inviteBtn();

        p {
            margin-left: 5px;
        }
    }
}

.icon-star {
    @include to-icon("\e966");
    color: #fff;
    &:hover {
        color: $mainYellow;
    }
}

.icon-starred {
    @include to-icon("\e967");
    color: $mainYellow;
}

.icon-add-member {
    @include to-icon("\e902");
    color: #fff;
}

.icon-overflow-menu-horizontal {
    @include to-icon("\e952");
    color: #fff;
}

.board-name-edit {
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: rem(16px);
        height: rem(31px);
        // padding: 0 10px 0 5px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        &:hover {
        }
    }
    input {
        text-align: center;
        height: rem(31px);
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        font-size: rem(16px);
        font-weight: bold;
        // padding: 0 15px 0 15px;
        white-space: nowrap;
        transition: all 0.1s;
        box-shadow: inset 0 0 0 2px #0079bf;
        color: $memberBlue;
        background-color: #fff;

        &::placeholder {
            color: #fff;
        }
        &:focus {
            outline: none !important;
        }
    }
}
