.coverOfCardDetails {
    margin-right: 220px;
}

.card-details-btn-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: #4e5b70;
    background-color: #00000014;
    margin-right: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px 12px 6px 6px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
    width: 78px;
    &:hover {
        background-color: #00000029;
    }
}

.card-details-cover-close {
    color: #42526e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #00000014;
    border-radius: 50%;
    margin: 4px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    // padding-left: 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    font-size: 20;
    line-height: 32px;
    &:hover {
        background-color: #00000029;
        color: #42526e;
    }
}

.color {
    background-size: initial;
    background-origin: content-box;
    background-position: left center;
    height: 116px;
    min-height: 116px;
    position: relative;
    width: 100%;
}

.attachmentofdetails {
    background-size: contain;
    background-origin: content-box;
    background-position: center center;
    height: 160px;
    min-height: 160px;
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
}

.card-details-container {
    display: flex;
    flex-direction: column;
    height: min-content;
    .card-details-header {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 25px;
        padding-top: 12px;
        .card-details-header-icon {
            display: flex;
            flex-direction: row;
            gap: 17px;
            font-weight: 400;
            // align-items: center;
            justify-content: center;
            p {
                word-wrap: break-word;
                height: 100%;
                // width: 50px;
                max-width: 32.1875rem;
                line-break: auto;
                font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #172b4d;
            }
        }
        .card-details-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 32px;
            margin: 4px;
            width: 32px;
            cursor: pointer;
            transition: background-color 85ms, color 85ms;
            &:hover {
                background-color: #091e4214;
                color: #42526e;
            }
        }
    }
    .card-details-list-name {
        p {
            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 59px;
            padding-bottom: 20px;
            font-weight: unset;
            color: #42526e;
            font-size: 13px;
        }
    }
    .card-details-edit {
        display: flex;
        flex-direction: column;
        // padding-right: 20px;
        label {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: -4px;
            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 8px;
        }
        .card-details-btn {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            color: #4e5b70;
            background-color: #091e420a;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            height: 32px;
            font-size: 14px;
            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
            margin-bottom: 8px;
            width: 165px;
            &:hover {
                background-color: #091e4214;
            }
        }
    }
    .card-details-actions-container {
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 0 16px 8px 16px;
        // height: 900px;
        height: min-content;
        .card-details-main {
            margin-bottom: 24px;
            .card-details-members-labels-date {
                display: flex;
                flex-wrap: wrap;
                // gap: 16px;
                max-width: 500px;
                margin-bottom: 35px;
                margin-left: 42px;
                .card-details-members-container {
                    display: flex;
                    gap: 5px;
                    .card-details-members {
                        padding-top: 8px;
                        .card-details-member-img {
                            border-radius: 50%;
                        }
                    }
                }
                .card-details-dates-container {
                    .card-details-dates {
                        padding-top: 8px;
                        display: flex;
                        .checkbox {
                            width: 20px;
                            height: 20px;
                            border: 3px solid #dfe1e6;
                            border-radius: 3px;
                            cursor: pointer;
                            margin: auto;
                            margin-right: 5px;
                            &:hover {
                                background-color: #f0f1f1;
                            }
                        }
                        .done-img {
                            width: 20px;
                            border: 3px solid #0079bf;
                            border-radius: 3px;
                            height: 20px;
                            opacity: 1;
                            // width: 16px;
                            background-color: #0079bf;
                            cursor: pointer;
                            margin: auto;
                            margin-right: 5px;
                            transition: 1s;
                        }
                        input {
                            margin: 0;
                            margin-right: 5px;
                            height: 16px;
                            width: 16px;
                        }
                        .card-details-date {
                            color: #172b4d;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            box-sizing: border-box;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 3px;
                            cursor: pointer;
                            padding: 6px 12px;
                            text-decoration: none;
                            white-space: normal;
                            background-color: rgba(9, 30, 66, 0.04);
                            box-shadow: none;
                            border: none;
                            transition-property: background-color, border-color, box-shadow;
                            transition-duration: 85ms;
                            transition-timing-function: ease;
                            &:hover {
                                background-color: rgba(9, 30, 66, 0.08);
                                box-shadow: none;
                                border: none;
                            }
                            .overdue {
                                color: #ffffff;
                                background-color: #ec9488;
                                font-size: 12px;
                                line-height: 16px;
                                padding: 2px 4px 0 4px;
                                border-radius: 2px;
                                margin: auto 0 auto 8px;
                            }
                            .complete {
                                color: #ffffff;
                                background-color: #61bd4f;
                                font-size: 12px;
                                line-height: 16px;
                                padding: 2px 4px 0 4px;
                                border-radius: 2px;
                                margin: auto 0 auto 8px;
                            }
                            p {
                                color: #172b4d;
                                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
                                font-size: 14px;
                                line-height: 20px;
                                font-weight: 400;
                            }
                            .down {
                                padding-left: 5px;
                            }
                        }
                    }
                }
                .card-details-labels-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-right: 16px;
                    // max-width: 400px;
                    .card-details-labels {
                        padding-top: 8px;
                        .card-details-label {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 3px;
                            box-sizing: border-box;
                            font-weight: 600;
                            height: 28px;
                            margin: 0 4px 4px 0;
                            min-width: 40px;
                            padding: 0 12px;
                            width: auto;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                        p {
                            text-align: center;
                            margin: auto;
                            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                            color: white;
                            font-size: 14px;
                        }
                    }
                }
                label {
                    color: #5e6c84;
                    font-size: 12px;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 600;
                    line-height: 20px;
                }
            }
            .card-details-checklist {
                display: flex;
                gap: 17px;
                align-items: center;
                min-height: 32px;
                h3 {
                    color: #172b4d;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 16px;
                    line-height: 20px;
                    display: inline-block;
                    margin: 0;
                    min-height: 18px;
                    min-width: 40px;
                    width: auto;
                    font-weight: 500;
                }
            }
            .card-details-description {
                display: flex;
                gap: 17px;
                align-items: center;
                min-height: 32px;
                h3 {
                    color: #172b4d;
                    font-size: 16px;
                    display: inline-block;
                    margin: 0;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    min-height: 18px;
                    min-width: 40px;
                    width: auto;
                    font-weight: 500;
                }
                button {
                    @include cardDetailsBtn();
                    background-color: #091e420a;
                    font-weight: 400;
                    font-size: 14px;
                    font-family: roboto-regular;
                    margin-bottom: unset;
                    cursor: pointer;
                }
            }
            .card-details-activity-show-attachments {
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                // margin-bottom: 10px;
                min-height: 32px;
                // height: 100%;
                // overflow: unset;
                // z-index: 30;
                .loadaing-attachment {
                    width: 512px;
                    height: 80px;
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 80px;
                    text-align: center;
                    border-radius: 3px;
                    // margin: 0 0 8px;
                    // min-height: 80px;
                    overflow: hidden;
                    margin-left: 40px;
                    // position: relative;
                }
                .loading-container {
                    background-color: #091e420a;
                    color: #5e6c84;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    margin-left: 40px;
                    width: 512px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .loading-svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                    }
                }
                .card-attachments-area {
                    display: flex;
                    margin-left: 40px;
                    gap: 10px;
                    width: 514px;
                    margin-bottom: 8px;
                    margin-top: 9px;
                    cursor: pointer;
                    &:hover {
                        background-color: #eaecf0;
                    }
                    .attachment-area-body {
                        margin-bottom: 5px;
                        color: #5e6c84;
                        gap: 5px;
                        p {
                            color: #7a8697;
                            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            display: inline-block;
                            margin: 0;
                            min-height: 18px;
                            min-width: 40px;
                            width: auto;
                            font-weight: 400;
                        }
                        a {
                            color: #7a8697;
                            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            display: inline-block;
                            margin: 0;
                            min-height: 18px;
                            min-width: 40px;
                            width: auto;
                            font-weight: 400;
                            text-decoration: underline;
                            &:hover {
                                color: #172b4d;
                            }
                        }
                    }
                    .attachment-area-footer {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        p {
                            text-decoration: underline;
                            color: #7a8697;
                            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            display: inline-block;
                            margin: 0;
                            min-height: 18px;
                            min-width: 40px;
                            width: auto;
                            font-weight: 400;
                            &:hover {
                                color: #172b4d;
                            }
                        }
                    }
                    .card-attachment-area-header {
                        display: flex;
                        padding-top: 8px;
                        p {
                            color: #172b4d;
                            font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            display: inline-block;
                            margin: 0;
                            min-height: 18px;
                            min-width: 40px;
                            width: auto;
                            font-weight: 700;
                        }
                    }
                    span {
                        padding-top: 1.5px;
                    }
                    img {
                        // background-position: 50%;
                        object-fit: contain;
                        background-repeat: no-repeat;
                        border-radius: 3px;
                        height: 80px;
                        text-decoration: none;
                        // margin-bottom: 10px;
                        width: 112px;
                    }
                }
                .card-details-attachments {
                    display: flex;
                    gap: 17px;
                    align-items: center;
                    min-height: 32px;
                    padding-bottom: 10px;
                    h3 {
                        color: #172b4d;
                        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                        display: inline-block;
                        margin: 0;
                        min-height: 18px;
                        min-width: 40px;
                        width: auto;
                        font-weight: 500;
                    }
                }
            }
            .card-details-activity-show-details {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                min-height: 32px;
                .card-details-activity {
                    display: flex;
                    gap: 17px;
                    align-items: center;
                    min-height: 32px;
                    h3 {
                        color: #172b4d;
                        font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                        display: inline-block;
                        margin: 0;
                        min-height: 18px;
                        min-width: 40px;
                        width: auto;
                        font-weight: 500;
                    }
                }
                button {
                    @include cardDetailsBtn();
                    background-color: #091e420a;
                    font-size: 14px;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    cursor: pointer;
                }
            }
            .card-details-input-user-comment {
                display: flex;
                align-items: center;
                justify-items: center;
                gap: 9px;
                height: 40px;
                .card-details-user-avatar {
                    display: flex;
                    width: 32px;
                    height: 32px;
                }
                .card-details-input-comment {
                    cursor: pointer;
                    display: flex;
                    height: 40px;
                    width: 650px;
                    padding: 15px;
                    align-items: center;
                    background-color: rgb(255, 255, 255);
                    border: 2px solid rgb(239, 238, 236);
                    border-radius: 3px;
                    width: rem(520px);
                    transition-duration: 85ms;
                    // transition-property: padding-bottom;
                    // transition-property: margin-top;
                    transition-timing-function: ease;
                    .input-icon-btns {
                        display: flex;
                        flex-direction: column;
                        width: 650px;
                        .card-details-all-btns {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding-bottom: 10px;
                            .card-details-save-btn {
                                background-color: #0079bf;
                                border: none;
                                box-shadow: none;
                                color: #fff;
                                height: 20px;
                                border-radius: 3px;
                                width: rem(52px);
                                height: rem(25px);
                                margin-top: 10px;
                                cursor: pointer;
                                &:hover {
                                    background-color: #026aa7;
                                    border: none;
                                    box-shadow: none;
                                    color: #fff;
                                }
                                button {
                                    cursor: pointer;
                                }
                            }
                            .icon-btns-inside-input {
                                // display: flex;
                                // justify-content: end;
                                // gap: 25px;
                                span {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    &:hover {
                        box-shadow: 1px 1px 5px -2px rgb(0 0 0 / 18%);
                    }
                    input {
                        cursor: pointer;
                        background-color: rgb(255, 255, 255);
                        border: 2px solid rgb(239, 238, 236);
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .card-details-input {
                .card-details-text-add-btn {
                    display: flex;
                    align-items: center;
                    margin-top: 7px;
                    margin-bottom: 17px;
                    gap: 10px;
                    button {
                        background-color: #0079bf;
                        height: rem(31px);
                        width: rem(52px);
                        border: none;
                        box-shadow: none;
                        color: #fff;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: 400;
                        cursor: pointer;
                        &:hover {
                            background-color: #026aa7;
                            border: none;
                            box-shadow: none;
                            color: #fff;
                        }
                    }
                    span {
                        cursor: pointer;
                    }
                }
                textarea {
                    border-color: #091e4221;
                    height: 108px;
                    width: 514px;
                    border-radius: 3px;
                    font-size: 13px;
                    padding: 12px;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    &:focus {
                        outline-color: #0079bf;
                    }
                }
                .card-description {
                    margin-top: 15px;
                    margin-bottom: 35px;
                    max-width: 500px;
                    padding-left: 42px;
                    font-size: 13px;
                    color: #42526e;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                }
                .open-input-btn {
                    background-color: #091e420a;
                    border: none;
                    box-shadow: none;
                    padding: 8px 12px;
                    cursor: pointer;
                    margin-top: 17px;
                    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                    color: #42526e;
                    margin-bottom: 24px;
                    margin-left: 42px;
                    width: rem(515px);
                    height: rem(55px);
                    border-radius: 3px;
                    font-size: 13px;
                    &:hover {
                        background-color: #091e4214;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.comments-rendering {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    gap: 9px;
    display: flex;
    // align-items: center;
    margin-top: 15px;
    justify-items: center;
    gap: 9px;
    // margin-top: 20px;
    .card-details-user-avatar {
        width: 32px;
        height: 32px;
        cursor: default;
    }
    .comment-info {
        // margin-top: 25px;
        .comment-info-name-date {
            // padding-top: 20px;
            margin-bottom: 5px;
            p {
                font-size: 12px;
                color: #747475;
            }
            span {
                font-size: 14px;
                color: #172b4d;
                font-weight: 700;
            }
        }
        .comment-info-txt {
            color: rgb(23, 43, 77);
            display: flex;
            height: 40px;
            width: 650px;
            padding: 15px;
            align-items: center;
            background-color: white;
            border: 2px solid #efeeec;
            border-radius: 3px;
            width: 32.5rem;
            box-shadow: 1px 1px 1px -2px rgb(0 0 0 / 28%);
            // transition-duration: 85ms;
            // transition-timing-function: ease;
            margin-bottom: 5px;
            font-size: 14px;
        }
        .comment-info-btns {
            display: flex;
            gap: 5px;
            align-items: center;
            padding-left: 5px;
            p {
                color: #777f8b;
                text-decoration: underline;
                font-size: 13px;
                &:hover {
                    color: #252627;
                    cursor: pointer;
                }
            }
        }
    }
}

.card-details-user-comment {
    // align-items: center;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    gap: 9px;
    .card-details-user-avatar {
        cursor: default;
        width: 32px;
        height: 32px;
    }
    .card-details-input {
        color: #7e8085;
        display: flex;
        cursor: pointer;
        height: 40px;
        width: 650px;
        padding: 15px;
        align-items: center;
        background-color: white;
        border: 2px solid #efeeec;
        border-radius: 3px;
        width: 32.5rem;
        box-shadow: 1px 1px 1px -2px rgb(0 0 0 / 28%);
        transition-duration: 85ms;
        transition-timing-function: ease;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .card-details-input-show {
        color: #42526e;
        padding: 8px 15px 10px 13px;
        background-color: white;
        border: 2px solid #efeeec;
        border-radius: 3px;
        width: 32.5rem;
        box-shadow: 1px 1px 1px -2px rgb(0 0 0 / 28%);
        transition-duration: 85ms;
        transition-timing-function: ease;
        margin-bottom: 5px;
        font-size: 14px;
        // height: 100px;
        max-height: min-content;
        input {
            font-size: 14px;
            border: none;
            width: 100%;
            color: #42526e;
            padding-bottom: 20px;
            &:focus {
                outline: none;
            }
        }
        .card-details-all-btns {
            align-items: center;
            justify-content: space-between;
            .icon-btns-inside-input {
                padding-top: 0;
                display: flex;
                gap: 20px;
                span {
                    cursor: pointer;
                }
            }
            button {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                border-radius: 3px;
                padding: 9px;
                cursor: pointer;
                &:hover {
                    background-color: #026aa7;
                }
            }
        }
    }
}

.card-details-actions-container-edit-btns {
    width: unset;
}

.dialog-container {
    width: 100%;
    // min-height: 100vh;
    background-color: #0009;
    position: fixed;
    justify-content: center;
    z-index: 30;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    .card-details-scroll::-webkit-scrollbar {
        // position: sfixed;
        // top: 0;
        // -webkit-appearance: none;
        width: 8px;
        // height: 8px;
        // z-index: 10000000000000000;
    }
    .card-details-scroll::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #fff;
        z-index: 40;
    }
    .card-details-scroll::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #fff;
    }
    // height: fit-content;
    .modal {
        // flex-grow: ;
        // position: fixed;
        z-index: 40;
        padding: unset;
        display: block;
        background-color: rgb(244, 245, 247);
        // overflow-x: hidden;
        // overflow: hidden;
        width: 770px;
        // overflow-y: scroll;
        height: min-content;
        // max-height: unset;
        // max-width: unset;
        margin-top: 45px;
        // height: min-content;
        margin-bottom: 88px;
        // scroll-;
        // overflow: hidden;
        // overflow: scroll;
    }
}

.date-svg {
    color: rgb(66, 82, 110);
    display: inline-block;
    fill: inherit;
    flex-shrink: 0;
    line-height: 1;
}

.last {
    margin-bottom: 20px;
}

.icon-card {
    @include to-icon("\e912");
}

.icon-desc {
    @include to-icon("\e922");
}

.icon-activity {
    @include to-icon("\e900");
}

.icon-member {
    @include to-icon("\e946");
}

.icon-label {
    @include to-icon("\e93f");
}

.icon-checklist {
    @include to-icon("\e91a");
}

.icon-attachment {
    @include to-icon("\e908");
}

.icon-cover {
    @include to-icon("\e914");
}

.icon-move {
    @include to-icon("\e94a");
}

.icon-copy {
    @include to-icon("\e91f");
}

.icon-archive {
    @include to-icon("\e907");
}

.icon-share {
    @include to-icon("\e963");
}

.icon-shtrudel {
    @include to-icon("\e947");
}

.icon-smiley {
    @include to-icon("\e92a");
}

.icon-check {
    @include to-icon("\e916");
}

.icon-link-arrow {
    @include to-icon("\e92c");
    cursor: pointer;
}