.card-details-container {
    display: flex;
    flex-direction: column;
    .card-details-header {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 25px;
        padding-top: 12px;
        .card-details-header-icon {
            display: flex;
            flex-direction: row;
            gap: 17px;
            align-items: center;
            justify-content: center;
            p {
                font-size: 20px;
                font-weight: 600;
            }
        }
        .card-details-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 32px;
            margin: 4px;
            width: 32px;
            cursor: pointer;
            transition: background-color 85ms, color 85ms;
            &:hover {
                background-color: #091e4214;
                color: #42526e;
            }
        }
    }
    .card-details-list-name {
        p {
            padding-left: 59px;
            padding-bottom: 30px;
        }
    }
    .card-details-edit {
        display: flex;
        flex-direction: column;
        // padding-right: 20px;
        label {
            color: #5e6c84;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: -4px;
            margin-bottom: 8px;
        }
        .card-details-btn {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            // @include cardDetailsBtn();
            background-color: #091e420a;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            height: 32px;
            font-size: 16px;
            font-weight: 100;
            margin-bottom: 8px;
            width: 165px;
            &:hover {
                background-color: #091e4214;
            }
        }
    }
    .card-details-actions-container {
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 0 16px 8px 16px;
        .card-details-main {
            .card-details-members-labels-date {
                display: flex;
                gap: 16px;
                margin-bottom: 40px;
                .card-details-members-container {
                    display: flex;
                    gap: 5px;
                    .card-details-members {
                        padding-top: 8px;
                        .card-details-member-img {
                            border-radius: 50%;
                           
                        }
                    }
                }
                .card-details-labels-container {
                    display: flex;
                    flex-direction: row;
                    .card-details-labels {
                        padding-top: 8px;
                        .card-details-label {
                            border-radius: 3px;
                            box-sizing: border-box;
                            display: block;
                            float: left;
                            font-weight: 600;
                            height: 32px;
                            line-height: 32px;
                            margin: 0 4px 4px 0;
                            min-width: 40px;
                            padding: 0 12px;
                            width: auto;
                            cursor: pointer;
                        }
                        p {
                            color: white;
                            font-size: 15px;
                        }
                    }
                }
                label {
                    color: #5e6c84;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    // margin-bottom: -4px;
                    // padding-bottom: 12px;
                }
            }
            .card-details-description {
                display: flex;
                gap: 17px;
                align-items: center;
                min-height: 32px;
                h3 {
                    font-size: 16px;
                    display: inline-block;
                    margin: 0;
                    min-height: 18px;
                    min-width: 40px;
                    width: auto;
                }
                button {
                    @include cardDetailsBtn();
                    background-color: #091e420a;
                    font-weight: 400;
                    font-size: 16px;
                    font-family: roboto-regular;
                    margin-bottom: unset;
                    cursor: pointer;
                }
            }
            .card-details-activity-show-details {
                display: flex;
                justify-content: space-between;
                margin-bottom: 18px;
                min-height: 32px;
                .card-details-activity {
                    display: flex;
                    gap: 17px;
                    align-items: center;
                    min-height: 32px;
                    h3 {
                        font-size: 16px;
                        line-height: 20px;
                        display: inline-block;
                        margin: 0;
                        min-height: 18px;
                        min-width: 40px;
                        width: auto;
                    }
                }
                button {
                    @include cardDetailsBtn();
                    background-color: #091e420a;
                    font-size: 16px;
                    font-family: roboto-regular;
                }
            }
            .card-details-input-user-comment {
                display: flex;
                align-items: center;
                justify-items: center;
                gap: 9px;
                height: 40px;
                .card-details-user-avatar {
                    display: flex;
                }
                .card-details-input-comment {
                    cursor: pointer;
                    display: flex;
                    height: 40px;
                    width: 650px;
                    padding: 15px;
                    align-items: center;
                    background-color: rgb(255, 255, 255);
                    border: 2px solid rgb(239, 238, 236);
                    border-radius: 3px;
                    width: rem(510px);
                    transition-duration: 85ms;
                    // transition-property: padding-bottom;
                    // transition-property: margin-top;
                    transition-timing-function: ease;
                    .input-icon-btns {
                        display: flex;
                        flex-direction: column;
                        width: 650px;
                        .card-details-all-btns {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding-bottom: 10px;
                            .card-details-save-btn {
                                background-color: #0079bf;
                                border: none;
                                box-shadow: none;
                                color: #fff;
                                height: 20px;
                                border-radius: 3px;
                                width: rem(52px);
                                height: rem(25px);
                                margin-top: 10px;
                                cursor: pointer;
                                &:hover {
                                    background-color: #026aa7;
                                    border: none;
                                    box-shadow: none;
                                    color: #fff;
                                }
                                button {
                                    cursor: pointer;
                                }
                            }
                            .icon-btns-inside-input {
                                display: flex;
                                justify-content: end;
                                gap: 25px;
                                span {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    &:hover {
                        box-shadow: 1px 1px 5px -2px rgb(0 0 0 / 18%);
                    }
                    input {
                        cursor: pointer;
                        background-color: rgb(255, 255, 255);
                        border: 2px solid rgb(239, 238, 236);
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .card-details-input {
                .card-details-text-add-btn {
                    display: flex;
                    align-items: center;
                    margin-top: 7px;
                    margin-bottom: 17px;
                    gap: 10px;
                    button {
                        background-color: #0079bf;
                        height: rem(31px);
                        width: rem(52px);
                        border: none;
                        box-shadow: none;
                        color: #fff;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: 400;
                        cursor: pointer;
                        &:hover {
                            background-color: #026aa7;
                            border: none;
                            box-shadow: none;
                            color: #fff;
                        }
                    }
                    span {
                        cursor: pointer;
                    }
                }
                textarea {
                    border-color: #091e4221;
                    height: 108px;
                    border-radius: 3px;
                    font-size: 15px;
                    padding: 12px;
                    &:focus {
                        outline-color: #0079BF;
                    }
                }
                .card-description {
                    margin-top: 15px;
                    margin-bottom: 35px;
                    padding-left: 42px;
                }
                .open-input-btn {
                    background-color: #091e420a;
                    border: none;
                    box-shadow: none;
                    padding: 8px 12px;
                    cursor: pointer;
                    margin-top: 17px;
                    margin-bottom: 24px;
                    margin-left: 42px;
                    width: rem(512px);
                    height: rem(55px);
                    border-radius: 3px;
                    font-size: 15px;
                    &:hover {
                        background-color: #091e4214;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.card-details-actions-container-edit-btns {
    width: unset;
}

.modal {
    padding: unset;
    background-color: rgb(244, 245, 247);
    // overflow-x: hidden;
    // overflow: hidden;
    width: 770px;
    height: 900px;
    // max-height: unset;
    max-width: unset;
    margin-top: 45px;
}

.date-svg {
    color: rgb(66, 82, 110);
    display: inline-block;
    fill: inherit;
    flex-shrink: 0;
    line-height: 1;
}

.last {
    margin-bottom: 20px;
}

.icon-card {
    @include to-icon("\e912");
}

.icon-desc {
    @include to-icon("\e922");
}

.icon-activity {
    @include to-icon("\e900");
}

.icon-member {
    @include to-icon("\e946");
}

.icon-label {
    @include to-icon("\e93f");
}

.icon-checklist {
    @include to-icon("\e91a");
}

.icon-attachment {
    @include to-icon("\e908");
}

.icon-cover {
    @include to-icon("\e914");
}

.icon-move {
    @include to-icon("\e94a");
}

.icon-copy {
    @include to-icon("\e91f");
}

.icon-archive {
    @include to-icon("\e907");
}

.icon-share {
    @include to-icon("\e963");
}

.icon-shtrudel {
    @include to-icon("\e947");
}

.icon-smiley {
    @include to-icon("\e92a");
}

.icon-check {
    @include to-icon("\e916")
}

.icon-close {
    @include to-icon("\e91c")
}

