// group-card
.group-preview-main {
    width: rem(276px);
    // min-height: rem(80px);
    // height: auto;
    max-height: rem(620px);
    border-radius: 3px;
    background-color: $groupGray;
}

// group-title
.toggle-input {
    height: rem(40px);
    display: flex;
    align-items: center;
    color: $memberBlue;

    p {
        color: $memberBlue;
        font-family: roboto-regular;
        font-weight: 600;
        font-size: rem(14px);
        // background-color: rgb(245, 211, 161);
        border-radius: 3px;
        padding: 4px 8px;
        margin: 0 8px 0 8px;
    }

    input {
        font-family: roboto-regular;
        font-weight: 600;
        font-size: rem(14px);
        color: $memberBlue;
        width: 80%;
        height: rem(28px);
        border-radius: 3px;
        padding: 4px 8px;
        border: none;
        margin: 0 8px 0 8px;
        box-shadow: inset 0 0 0 2px $mainBlue;
        &:focus {
            outline: none !important;
        }
    }
    span {
        margin: 0 8px 0 auto;
        width: rem(33px);
        height: rem(33px);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $memberBlue;
        cursor: pointer;
        &:hover {
            background-color: #091e4214;
        }
    }
}

//card-preview
.card-preview {
    font-family: roboto-regular;
    height: rem(40px);
    display: flex;
    // align-items: center;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    margin: 0 8px 8px 8px;
    box-shadow: 0 1px 0 #091e4240;

    p {
        color: $memberBlue;
        font-family: roboto-regular;
        font-size: rem(14px);
        margin: 0 8px 0 8px;
    }

    button {
        display: none;
    }

    &:hover {
        background-color: #eeeef0;

        button {
            display: block;
            border-radius: 3px;
            margin: 3px 3px 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(26px);
            width: rem(26px);
            border: none;

            &:hover {
                background-color: #091e4214;
            }
        }
    }
}

.add-card-cmp {
    button:first-of-type {
        display: flex;
        border-radius: 3px;
        // color: #5e6c84;
        border: none;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        width: rem(260px);
        font-family: Roboto-regular;
        &:hover {
            background-color: #091e4214;
        }
    }
}

.add-new-group {
    button {
        @include btn();
        // background-color: grey;
        width: rem(272px);
        height: rem(40px);
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

.scroller {
    // width: 300px;
    // height: auto;
    // width: 8px;
    // height: 8px;
    // overflow-x: visible;
    overflow-x: hidden;
    overflow-y: auto;
    // flex: 1 1 auto;
    margin: 0 4px;
    // min-height: 0;
    // padding: 0 4px;
    // z-index: 1;
    max-height: 100%;

    max-height: rem(520px);

    // overflow-y: auto;
    // overflow-x: hidden;
    // // scrollbar-color: rebeccapurple green;
    // scrollbar-width: thin;
}
.scroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgb(127, 131, 131);
    color: black;
}

.icon-add-dark {
    @include to-icon("\e901");
    color: $memberBlue;
}
.icon-add-light {
    @include to-icon("\e901");
    color: #fff;
}
.icon-edit {
    @include to-icon("\e928");
}


