// group-card
.group-preview-main {
    width: rem(276px);
    // min-height: rem(80px);
    height: min-content;
    // max-height: rem(620px);
    border-radius: 3px;
    background-color: $groupGray;
}

// group-title
.toggle-input {
    height: rem(40px);
    display: flex;
    align-items: center;
    color: $memberBlue;

    p {
        color: $memberBlue;
        font-family: roboto-regular;
        font-weight: 600;
        font-size: rem(14px);
        border-radius: 3px;
        padding: 4px 8px;
        margin: 0 8px 0 8px;
    }

    input {
        font-family: roboto-regular;
        font-weight: 600;
        font-size: rem(14px);
        color: $memberBlue;
        width: 80%;
        height: rem(28px);
        border-radius: 3px;
        padding: 4px 8px;
        border: none;
        margin: 0 8px 0 8px;
        box-shadow: inset 0 0 0 2px $mainBlue;
        &:focus {
            outline: none !important;
        }
    }
    span {
        margin: 0 8px 0 auto;
        width: rem(33px);
        height: rem(33px);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $memberBlue;
        cursor: pointer;
        &:hover {
            background-color: #091e4214;
        }
    }
}

//card-preview
.card-preview {
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    margin: 0 4px 8px 8px;
    padding: 6px 8px 2px;
    box-shadow: 0 1px 0 hsla(218, 76%, 15%, 0.251);

    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;

    .card-title {
        font-family: roboto-regular;
        margin: 0 0 4px;
        color: #172b4d;
        clear: both;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    button {
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 3px;
        margin: 3px 3px 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(26px);
        width: rem(26px);
        border: none;
        display: none;
    }

    &:hover {
        background-color: #eeeef0;

        button {
            display: block;
            &:hover {
                background-color: #091e4214;
            }
        }
    }

    .labels {
        overflow: auto;
        position: relative;
        
        .label {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            // background-color: #b3bac5;
            border-radius: 4px;
            color: #fff;
            display: block;
            // margin-right: 4px;
            max-width: 100%;
            overflow: hidden;
            padding: 4px 6px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            ////////
            background-color: #61bd4f;
            ////////
            float: left;
            font-size: 12px;
            font-weight: 700;
            height: 8px;
            line-height: 100px;
            margin: 0 4px 4px 0;
            max-width: 40px;
            min-width: 40px;
            padding: 0;
            text-shadow: none;
            width: auto;
        }
        &:hover {
            .label {
                height: 16px;
                line-height: 16px;
                max-width: 198px;
                padding: 0 8px;
            }
        }
    }

    .card-bar {
        display: flex;
        justify-content: space-between;
        margin: 4px;
    }
}

///add card
.add-card-cmp {
    .btn-add-card-out {
        background-color: #e3e4e6;
        display: flex;
        gap: 5px;
        border-radius: 3px;
        color: #5e6c84;
        border: none;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        width: rem(251px);
        font-family: Roboto-regular;
        &:hover {
            background-color: #091e4214;
        }
    }
    div {
        width: rem(260px);
    }
    .add-new-card-input {
        div {
            display: flex;
            float: left;
            margin: 8px 0 8px 8px;

            .btn-add-card-in {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                width: rem(80px);
                height: rem(32px);
                border-radius: 3px;
                cursor: pointer;
            }
            span {
                cursor: pointer;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    textarea {
        overflow: hidden;
        overflow-wrap: break-word;
        padding: 20px;

        display: flex;
        justify-content: start;
        align-items: flex-start;

        height: rem(75px);
        width: 100%;
        border-radius: 3px;
        border: none;
        margin: 0 4px 8px 8px;
        box-shadow: 0 1px 0 #091e4240;
        color: $memberBlue;
        font-family: roboto-regular;
        margin: 0 8px 0 8px;
        &:hover {
            background-color: #eeeef0;
        }
        &:focus {
            outline: none !important;
        }
    }
}

//add another list
.add-new-group {
    border-radius: 3px;
    .add-new-group-in {
        width: rem(276px);
        border-radius: 3px;
        background-color: $groupGray;
        padding: 1px 0 4px 0;
    }
    .add-another-list-btn {
        @include btn();
        width: rem(272px);
        height: rem(40px);
        display: flex;
        align-items: center;
        gap: rem(3px);
    }
    .controls-add-list {
        display: flex;
        margin: 8px 0 0 4px;
        .btn-add-card-in {
            background-color: #0079bf;
            border: none;
            box-shadow: none;
            color: #fff;
            height: rem(32px);
            border-radius: 3px;
            cursor: pointer;
        }
        span {
            cursor: pointer;
            height: rem(32px);
            width: rem(32px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    textarea {
        overflow: hidden;
        overflow-wrap: break-word;
        font-family: roboto-regular;
        color: $memberBlue;
        width: rem(266px);
        height: rem(35px);
        border-radius: 3px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        border: none;
        margin: 4px;
        box-shadow: inset 0 0 0 2px $mainBlue;
        &:focus {
            outline: none !important;
        }
    }
}

//scrollbar
.scroller-group {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 0 0;
    max-height: 100%;
    // max-height: rem(520px);
    max-height: 57vh;
}
.scroller-group::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scroller-group::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #bfc4ce;
}
.scroller-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a7afbc;
}

//icons
.icon-add-dark {
    @include to-icon("\e901");
    color: $memberBlue;
}
.icon-add-gray {
    @include to-icon("\e901");
    color: #5e6c84;
}
.icon-add-light {
    @include to-icon("\e901");
    color: #fff;
}
.icon-edit {
    @include to-icon("\e928");
}
.icon-close {
    @include to-icon("\e91c");
    color: #6b778c;
    &:hover {
        color: #172b4d;
        text-decoration: none;
    }
}
