.group-edit-modal {
    position: fixed;
    width: rem(305px);
    color: #172b4d;
    background-color: #ffffff;
    border-radius: rem(3px);
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    z-index: 20;

    .group-modal-actions-list {
        display: block;
        font-weight: 400;
        padding: 6px 12px;
        
        .group-modal-action{
            cursor: pointer;
            margin-bottom: 12px;

            &:hover {
                background-color: #091e420a;
            }
        }

    }

    .group-modal-header {
        margin-bottom: 8px;
        padding: 0 12px;
        position: relative;
        text-align: center;
        display: grid;
        grid-template-columns: 12px 1fr 12px;

        .header-close-edit-group-modal {
            grid-column: 3;
            grid-row: 1;
            border: none;
            color: #6b778c;
            cursor: pointer;
            margin: 0;
            padding: 0;
            z-index: 2;
            outline: none;
            margin: auto;

            svg {
                height: auto;
                width: 12px;
                color: currentcolor;
                display: inline-block;

            }
        }

        .header-text-group-modal {
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            color: #5e6c84;
            height: 40px;
            display: block;
            line-height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            grid-column: 1 / span 3;
            grid-row: 1;
        }
    }

    button {
        cursor: pointer;
    }

    a {
        cursor: pointer;
    }
}