.side-bar-menu-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
    background-color: #f4f5f7;
    position: fixed;
    right: 0;
    padding-inline: 12px;
    top: 40px;
    box-shadow: 0 12px 24px -6px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    height: calc(100vh - 40px);
    z-index: 99;
    width: 340px;
    transition: all .2s;
    padding-bottom: 15px;

    hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 0;
        padding: 0;
        width: 322px;
    }

    .side-bar-menu-container {
        border-radius: 3px;
        display: flex;
        align-items: center;
        margin-top: 8px;
        padding: 8px;
        padding-left: 15px;
        gap: 8px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        margin-bottom: 8px;

        .board-background {
            background-position: 50%;
            background-size: cover;
            border-radius: 3px;
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #091e4214;
        }

        p {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #172B4D;
        }
    }

    .side-bar-menu-activity-container {
        max-width: 325px;
        overflow: scroll;
        height: 100vh;
        padding-left: 5px;

        .activity-header {
            display: flex;
            gap: 8px;
            align-items: center;
            padding: 8px;
            margin-top: 12px;

            h1 {
                font-size: 14px;
                font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                color: #172B4D;
            }
        }

        .activities-render {
            align-items: center;
            gap: 8px;
            margin-top: 8px;
            margin-bottom: 20px;

            .member-avatar-in-activity {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                cursor: default;
                background-color: #172b4d;
                color: #ffffff;
                font-weight: 600;
                font-size: 14px;
                border-radius: 50%;
                padding-bottom: 1px;
                margin-bottom: 1px;
            }

            .activity-info {
                display: flex;
                flex-direction: column;
                
                .activities-info-txt {
                    display: flex;
                    align-items: center;
                    inline-size:auto;
                    gap: 5px;
                    overflow-wrap: break-word;
                    
                    span {
                        font-weight: 700;
                        font-size: 14px;
                        color: #172b4d;
                    }
                    
                    p {
                        overflow-wrap: break-word;
                        inline-size: 240px;
                        color: #172b4d;
                        font-size: 14px;
                    }
                }

                .activity-timestamp {
                    color: #172b4d;
                    font-size: 12px;
                }
            }
        }
    }

    .side-bar-menu-header {
        align-items: center;
        display: flex;
        flex-direction: row;



        .side-bar-menu-header-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            transition: margin .12s ease-in;
            white-space: nowrap;
        }


        h3 {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            font-size: 16px;
            color: #172B4D;
            font-weight: 500;
            margin: 12px;
            padding: 3px;
            padding-left: 25px;
        }

        .header-close-side-bar-menu {
            font-size: 20px;
            cursor: pointer;
        }
    }

    .side-bar-menu-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .side-bar-menu-header-background {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .side-bar-menu-header-text-background {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                line-height: 20px;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                transition: margin .12s ease-in;
                white-space: nowrap;
            }

            .header-close-background-boards-modal {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            span {
                cursor: pointer;
            }


            h3 {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 16px;
                font-weight: 500;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 16px;
                color: #172B4D;
                font-weight: 500;
                margin: 12px;
                width: 115px;
                padding: 3px;
            }
        }


        .side-bar-menu-background-container {
            display: flex;
            gap: 10px;
            margin-top: 4px;
            padding: 8px;

            .bgc-photos {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            .regular-bgc-color {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            p {
                font-size: 14px;
                color: #172B4D;
            }

            img {
                background-color: #dfe1e6;
                background-size: cover;
                border-radius: 8px;
                height: 94px;
                margin-bottom: 8px;
                width: 150px;
                cursor: pointer;
                object-fit: cover;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    .side-bar-menu-background-img {
        margin-left: 18px;
        overflow-y: auto;

        .side-bar-menu-background-container-img {
            margin-top: 5px;
            display: grid;
            grid-template-columns: 157px 157px;
            grid-auto-rows: 100px;
            justify-content: center;
            gap: 5px;
            width: 100%;
            height: 100%;
            margin-top: 13px;

            .unspash-img {
                border-radius: 8px;
                height: 96px;
                width: 156px;
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }

        .search-unsplash {
            background: #fafbfc;
            border-radius: 3px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            margin-top: 12px;
            overflow-y: auto;

            &:focus-within {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
            }

            input {
                border: none;
                color: #172b4d;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                background: #fafbfc;
                font-size: 14px;
                font-weight: 400;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }

        .side-bar-menu-header-background-img {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            span {
                cursor: pointer;
            }

            .side-bar-menu-header-text-background-img {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                line-height: 20px;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                transition: margin .12s ease-in;
                white-space: nowrap;

                h3 {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 14px 32px;
                    color: #172B4D;
                    margin-right: 10px;

                }

                a {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .header-close-img-boards-modal {
                span {
                    cursor: pointer;
                }
            }

        }
    }

    .side-bar-menu-background-regular {

        .side-bar-menu-header-background-regular {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .side-bar-menu-header-text-background-regular {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                line-height: 20px;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                transition: margin .12s ease-in;
                white-space: nowrap;


                h3 {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 14px 32px;
                }
            }

            .header-close-img-boards-modal {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .side-bar-menu-background-container-regular {
            margin-top: 5px;
            display: grid;
            grid-template-columns: 157px 157px;
            grid-auto-rows: 100px;
            justify-content: center;
            gap: 5px;
            width: 100%;
            height: 100%;
            margin-top: 13px;


            .color-menu {
                border-radius: 8px;
                height: 96px;
                width: 156px;
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }

        .side-bar-menu-header-background-regular {
            span {
                cursor: pointer;
            }


            h3 {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 16px;
                font-weight: 500;
                margin: 14px 32px;
            }
        }
    }


}



.blue {
    background-color: rgb(0, 121, 191);
}

.yellow {
    background-color: rgb(210, 144, 52);
}

.green {
    background-color: rgb(81, 152, 57);
}

.red {
    background-color: rgb(176, 70, 50);
}

.purple {
    background-color: rgb(137, 96, 158);
}

.pink {
    background-color: rgb(205, 90, 145);
}

.light-green {
    background-color: rgb(75, 191, 107);
}

.light-blue {
    background-color: rgb(0, 174, 204);
}

.grey {
    background-color: rgb(131, 140, 145);
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s ease;
    transform: translateX(100%);


}

.slide-enter,
.slide-leave-to {
    transition: transform 0.2s ease;
    transform: translateX(100%);
}

.icon-back {
    @include to-icon("\e90a")
}

.icon-search {
    @include to-icon("\e960")
}

.icon-closed {
    @include to-icon("\e91c")
}