.user-boards-modal {
    position: fixed;
    z-index: 20;
    width: rem(305px);
    color: #172b4d;
    background-color: #ffffff;
    border-radius: rem(3px);
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    cursor: default;

    hr {
        border-top: 1px solid #ececec;
        margin: 8px auto;
        width: calc(100% - 23px);
    }

    .logout {
        padding: 5px;
        padding-left: 12px;
        font-size: 14px;
        margin-bottom: 12px;
        cursor: pointer;
        font-weight: 400;
        line-height: 20px;

        &:hover {
            background: rgba(9, 30, 66, 0.04);
        }
    }

    .login {
        margin-bottom: 12px;
        padding: 5px;
        padding-left: 12px;
        font-size: 14px;
        cursor: pointer;
        font-weight: 400;
        line-height: 20px;

        &:hover {
            background: rgba(9, 30, 66, 0.04);
        }
    }

    .user-info-modal {
        display: flex;
        align-items: center;
        margin-left: 12px;

        .user-avatar-in-modal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            font-weight: 600;
            font-size: 14px;
            background-color: #172b4d;
            color: #ffffff;
            border-radius: 50%;
            padding-bottom: 1px;
            cursor: default;
        }

        .user-details {
            padding: 0 12px;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .user-boards-header {
        margin-bottom: 8px;
        padding: 0 12px;
        position: relative;
        text-align: center;
        display: grid;
        grid-template-columns: 12px 1fr 12px;



        .header-text-user-boards-modal {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            color: #5e6c84;
            height: 40px;
            display: block;
            line-height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            grid-column: 1/span 3;
            grid-row: 1;

            h1 {
                font-weight: unset;
                font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
                font-size: 14px;
            }

        }

        .header-close-user-boards-modal {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: 3;
            grid-row: 1;
            border: none;
            color: #6b778c;
            cursor: pointer;
            margin: 0;
            padding: 0;
            z-index: 2;
            outline: none;
            margin: auto;

            svg {
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                width: 12px;
                color: currentcolor;
                display: inline-block;
            }
        }
    }


}