* {
    box-sizing: border-box;
    font-family: roboto-regular, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(87, 87, 87);
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

li {
    cursor: pointer;
    list-style-type: none;
}

button {
    cursor: pointer;
    font-family: roboto-regular, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
