* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

html {
    overflow-y: hidden;
}

input,
textarea {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    resize: none;
}

img {
    // width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

li {
    cursor: pointer;
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}