.board-details-main {
    display: flex;
    gap: 10px;
    height: 88vh;
    background-color: #026ba7b0;
}

.group-list-main {
    display: flex;
    gap: 10px;
    margin: 7px 0 0 13px;
}

.add-new-board {
    margin: 7px 0 0 0px;
}
