.board-details-main {
    display: flex;
    gap: 8px;
    height: calc(100vh - 95px);
    // background-color: #0079bf;
}

.group-list-main {
    display: flex;
    gap: 8px;
    margin: 0 8px 8px 8px;
}

// group-card
.group-preview-main {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    height: min-content !important;
    // max-height:fit-content;
    border-radius: 3px;
    background-color: $groupGray;
    width: rem(272px) !important;
}

.smooth-dnd-container.horizontal>.smooth-dnd-draggable-wrapper {
    // height: unset;
    // display: block;
    // vertical-align: unset;
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    // flex: 1;
}

.smooth-dnd-container {
    min-height: 8px;
    gap: 8px;
}

.smooth-dnd-container.horizontal {
    // display: unset;
}

.smooth-dnd-container.horizontal {
    display: flex;
}

.tilt {
    transform: rotate(4deg);
    transition: all 0.3s;
    cursor: grab;
}

body * {
    cursor: unset;
}