@mixin btn($type: regular, $color: white, $bgc: rgba(255, 255, 255, 0.2)) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    height: rem(32px);
    font-family: roboto-regular;
    font-weight: 400;
    padding: 6px;
    border: none;
    cursor: pointer;
    color: $color;
    border-radius: 3px;
    background-color: $bgc;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@mixin inviteBtn($type: regular, $color: white, $bgc: #014a75) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    height: rem(31px);
    font-size: rem(14px);
    font-family: roboto-regular;
    font-weight: 400;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    color: $color;
    border-radius: 3px;
    background-color: $bgc;
    &:hover {
        background-color: #026aa7;
    }
}

@mixin headerBtn($type: regular) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    height: rem(34px);
    font-size: rem(14px);
    font-family: roboto-regular;
    font-weight: 400;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@mixin headerBtnIcon($type: regular) {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffff;
    font-size: rem(20px);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    text-decoration: none;
    height: rem(32px);
    width: rem(32px);
    white-space: nowrap;
    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}
@mixin cardDetailsBtn($type: regular) {
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
    }
}

@mixin to-icon($content) {
    &::before {
        content: $content;
    }
}

@mixin btnAddCard($type: regular) {
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    width: rem(80px);
    height: rem(32px);
    border-radius: 3px;
    cursor: pointer;
}
