@font-face {
    font-family: "roboto-regular";
    src: url('@/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "roboto-bold";
    src: url('@/assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: "icomoon";
    src: url("@/assets/fonts/icomoon.ttf?wg6z27") format("truetype");
    font-weight: normal;
    font-style: normal;
}
