

// COLOR PALETTE
$mainBlue: #026aa7;
$darkBlue: #014a75;
$memberBlue: #172b4d;
$hoverBtn: rgba(255, 255, 255, 0.3);
$mainYellow: #f2d600;
$groupGray: #e3e4e6;

// $clr2: #000;
// $clr3: #fff;
// $clr4: darken($clr3, 40%);
// $clr5: #2d2d2d;

// $fa-font-path: "./webfonts";